Source: mkdotenv
Section: devel
Priority: optional
Maintainer: Dimitrios Desyllas <pcmagas@disroot.org>
Uploaders: Dimitrios Desyllas <pcmagas@disroot.org>
Build-Depends: debhelper (>= 13)

Package: mkdotenv
Architecture: amd64
Description: CLI tool for managing .env files.
 A command line tool that allows you to add or modify variables from .env file.
