#mkdotenv():resolve(keepassx/General/test):keppassx(file="keepassx.kdbx",password=1234).PASSWORD
PASSWORD=

#mkdotenv():resolve(keepassx/General/test):keppassx(file="keepassx.kdbx",password=1234).USERNAME
USERNAME=

#mkdotenv():resolve(keepassx/General/test):keppassx(file="keepassx.kdbx",password=1234).URL
URL=

#mkdotenv():resolve(keepassx/General/test):keppassx(file="keepassx.kdbx",password=1234).URL
NOTES=
